p
  label(for='name') Name:
p 
  input(type='text', name='name', value=bird.name)  
p
  label(for='order') Order:
p
  input(type='text', name='order', value=bird.order)  
p
  label(for='family') Family:
p
  input(type='text', name='family', value=bird.family)  
p
  label(for='genus') Genus:
p
  input(type='text', name='genus', value=bird.genus)  
p
  label(for='subgenus') Subgenus:
p
  input(type='text', name='subgenus', value=bird.subgenus)  
p
  label(for='species') Species:
p
  input(type='text', name='species', value=bird.species)  
p
  label(for='img') Image:
p
  input(type='file', name='img')
p
  label(for='gravity') Gravity:
p
  input(type='text', name='gravity')
p
  input(type='submit')  

